.tag {
  font-weight: bold;
  font-size: var(--fs300);
  margin-block: 1rem;
  transition: all 500ms ease-in-out;
  .tag-label {
    background-color: var(--deep-light-blue-color);
    padding: 1rem;
    border-radius: 2rem;
    transition: all 500ms ease-in-out;
    color: var(--white-color);
  }

  & > input[type="checkbox"] {
    visibility: hidden;
  }
  & > input[type="checkbox"]:checked + .tag-label {
    background-color: var(--blue-color);
  }
}
