// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$textGreyLight: #b2b2b2;
$textColorLight: #5a5a61;
$textColor2Light: #3e3e3e;
$white-color: #ffffff;

$linearPrimaryColor: linear-gradient(117.01deg, #5171b7 9.54%, #13366f 83.56%);
$primaryColor1Light: #1778f2;
$primaryColor2Light: #7594cd;
$primaryColor3Light: #62a4f4;
$primaryColor4Light: #d4dbff;
$primaryColor5Light: #1361bf;
$primaryColor6Light: #c2ddff;
