@use "../styles/_globals.scss" as g;

.business-page-primary {
  overflow: hidden;
  #business-section-0,
  #business-section-1,
  #business-section-2,
  #business-section-3,
  #business-section-4 {
    position: absolute;
    transform: scale(0);
    transition: 200ms all ease-in-out;
    opacity: 0;
    &.active {
      opacity: 1;
      position: relative;
      transform: scale(1);
    }
  }
  & > section {
    min-height: 100vh;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    padding-bottom: 4rem;
    gap: 0.5rem;
    h2 {
      margin-top: 1rem;
    }
    & > * {
      width: 80vw;
      &:not(.wave) {
        max-width: 30rem;
      }
      & > *:not(label) {
        margin-inline: auto;
        width: 100%;
        max-width: 20rem;
        @include g.desktop {
        }
      }
    }
    p,
    &.business-page-infomation-section label {
      margin-inline: auto;
      margin-top: 0.75rem;
      margin-bottom: 0.25rem;
    }
    .btn {
      width: max-content;
      min-width: 8rem;
      margin-inline: auto;
      margin-top: 2rem;
    }
  }
  .business-page-primary {
    #infomation-next-btn,
    #description-next-btn,
    #language-next-btn {
      width: 7.5rem;
    }
  }

  .tags-container {
    flex-wrap: wrap;
    justify-content: start;
    width: 80vw;
    overflow-y: auto;
    padding-block: 1rem;
    li {
      gap: 0.2rem;
      margin-right: 0.25rem;
    }
    @include g.desktop {
      max-height: 15rem;
      width: 100%;
      max-width: 30rem;
    }
  }
  .wave {
    width: 100vw;
  }
  #short-description {
    max-height: 3rem;
  }
  #description {
    max-height: 10rem;
  }
}
