@use "../../styles/_globals.scss" as g;

.search-form {
  label {
    transition: all 200ms ease-in-out;
    position: absolute;
    top: 15%;
    left: 29%;
    @include g.desktop {
      display: none;
      top: 30%;
      left: 10%;
      font-size: 0.725rem;
      background: var(--white-color);
    }
  }
  input[type="text"] {
    transition: all 200ms ease-in-out;
    padding: 0.45rem 2rem 0.45rem 2rem;
    border-radius: 5px;
    border: 2px solid var(--grey-color);
    justify-content: center;
    &:focus {
      transform: translateY(20px);
      outline: none;
      @include g.desktop {
        transform: translateY(0);
      }
    }
    &:focus ~ label {
      top: -45%;
      font-weight: bold;
      @include g.desktop {
        top: -15%;
      }
    }
    &:focus ~ button {
      transition: all 300ms ease-in-out;
      transform: translateY(20px);
      font-weight: bold;
      @include g.desktop {
        transform: translateY(0);
      }
    }
  }
  button {
    color: var(--grey-color);
    position: absolute;
    top: 25%;
    left: 0.5rem;
    @include g.desktop {
      top: 8%;
    }
  }
}
